<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Home</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
	<div th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-light bg-dark">
			<div class="container-fluid">
				<a class="navbar-brand text-white" href="/">University</a>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item"><a class="nav-link text-white"
							th:href="@{/lecture}">Lectures</a></li>
						<li class="nav-item"><a class="nav-link text-white"
							th:href="@{/course}">Courses</a></li>
						<li class="nav-item"><a class="nav-link text-white"
							th:href="@{/group}">Groups</a></li>
						<li class="nav-item"><a class="nav-link text-white"
							th:href="@{/student}">Students</a></li>
						<li class="nav-item"><a class="nav-link text-white"
							th:href="@{/teacher}">Teachers</a></li>
					</ul>
					<ul class="nav navbar-nav ml-auto w-100 justify-content-end">
						<li class="nav-item"><a class="nav-link text-white"
							th:href="@{/login}">LogIn</a></li>
						<li class="nav-item"><a class="nav-link text-white"
							th:href="@{/logout}">LogOut</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
</body>
</html>