<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>University</title>
<link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div
                class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
                <h1 class="text-center">Create new Lecture</h1>
                <div class="card-body">
                    <form th:action="@{/lecture}" th:object="${lectureDto}"
                        method="POST">              
                   <div class="form-group">
                            <label>Set Lecture Date (yyyy-mm-dd)</label> 
                            <input 
                            type="text"
                            name="lectureDate" 
                            th:field="*{lectureDate}"
                            class="form-control" 
                            placeholder="Enter Lecture Date" />
                        </div>
                        <div class="form-group">
                            <label>Set Lecture Time</label> 
                            <select name = lectureTime>
                            <option th:each = "lectureTime : ${lectureTimeOptions}"
                                    th:text = ${lectureTime}/>
                            </select>
                         </div>
                        <div class="form-group">
                            <label>Set Course Id</label> 
                            <input 
                            type="text"
                            name="courseId" 
                            th:field="*{courseId}" 
                            class="form-control"
                            placeholder="Enter Course id" />
                        </div>
                        <div class="form-group">
                            <label>Set Group Id</label> 
                            <input 
                            type="text"
                            name="groupId" 
                            th:field="*{groupId}" 
                            class="form-control"
                            placeholder="Enter Group id" />
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>